@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #070907;
}

/* Styles pour l'application installée */
@media screen and (display-mode: standalone) {
  /* Ajuste la position du header */
  nav, header {
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    right: 0;
    z-index: 50;
    background-color: #070907;
  }

  /* Ajuste le contenu pour qu'il commence après le header */
  main {
    margin-top: calc(env(safe-area-inset-top) + 64px);
  }
}

/* Animation étoile filante */
@keyframes shootingstar {
  0% {
    transform: translateX(0) translateY(0) rotate(-45deg);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(600px) translateY(600px) rotate(-45deg);
    opacity: 0;
  }
}

@layer utilities {
  .animate-shooting-star {
    animation: shootingstar linear infinite;
  }
}