@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #070907;
}

/* Styles pour l'application installée */
@media screen and (display-mode: standalone) {
  body {
    padding-top: env(safe-area-inset-top);
  }

  /* Ajuste la position du logo Hidaya */
  .logo {
    margin-top: env(safe-area-inset-top);
  }

  /* Garde les autres éléments alignés */
  nav {
    padding-top: env(safe-area-inset-top);
    background-color: #070907;
  }

  /* Ajuste les boutons de navigation dans Quran et SurahDetails */
  .nav-buttons, 
  .back-button,
  .favorite-button {
    margin-top: env(safe-area-inset-top);
    padding-top: 10px;
  }
}

/* Animation étoile filante */
@keyframes shootingstar {
  0% {
    transform: translateX(0) translateY(0) rotate(-45deg);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(600px) translateY(600px) rotate(-45deg);
    opacity: 0;
  }
}

@layer utilities {
  .animate-shooting-star {
    animation: shootingstar linear infinite;
  }
}